body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #eeeeee;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #5CCACA;
  height: 100px;
  position: relative;
  font-size: 28px;
  height: 200px;
}
a{
  color:white;
  text-decoration: none;
}
.logo img{
  max-width:100px;
  max-height:100px;
  width: auto;
  height: auto;
}
.formulario{
    padding-top: 50px;
    padding-left:80px;
    color:#00544A;
}
footer{
    background-color: #5BB6BB;
    text-align: left;
    padding: 10px;
    font-size: 16px;
    color:#eeeeee;
}
@media screen and (max-width: 650px){
    header{
      font-size: 22px;
    }
    .logo img{
      max-width:50px;
      max-height:50px;
      width: auto;
      height: auto;
      padding-right: 30px;
    }
    main p{
      font-size: 16px;
    }
    }
  
